.mainbg {
    background: url("../images/container-bg1.png") no-repeat;
    background-size: 100% 100%;
}

.header {
    background: url("../images/Header.png") no-repeat center center;
    background-size: 100% 100%;
    min-height: 128px;
}

.main-body {
    min-height: 800px;
}

.student-info {
    margin-top: 30px;
}

.home {
    margin-top: 0;
}

.courses {
    margin-top: 20px;;
}

.assignments {
    margin-top: 40px;
}

.exams {
    margin-top: 55px;
}

.time-table {
    margin-top: 45px;
}

.schedule {
    margin-top: 30px;
}

.slick-slide {
    text-align: center;
}

.progress {
    background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #000000 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
}

.contentMe {
    background: url("../images/content-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 160px;
    min-height: 400px;
}

.progressDiv {
    background: url("../images/progress-bg.png");
    background-size: 100% 100%;
}

.lazy {
    font-size: large;
}

.wobble-vertical:hover {
    text-decoration: none;
}

.wobble-vertical:focus {
    text-decoration: none;
}

.wobble-vertical:active {
    text-decoration: none;
}

.page-details {
    margin-top: 30px;
}

.page-heading {
    margin-top: 30px;
    margin-bottom: 40px;
}

.moreBtn {
    margin-bottom: 5px;
}

.teacherposts {
    z-index: 1000;
    background: url("../images/teacherposts-bg.png") no-repeat;
    background-size: 100% 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.todolist {
    background: url("../images/teacherposts-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.rowhead {
    padding-top: 30px;
}

.todofontcolor {
    color: #646464;
}

.todohrbar {
    padding-bottom: 30px;
    border-bottom: 1px dotted #fff;
}

.dashboard {
    background: url("../images/dsahboardbg.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 20px;
    height: 350px;
}

.socialClubDiv {
    z-index: 1000;
    background: url("../images/dsahboardbg.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 20px;
    /*height: 350px;*/
}

.hrbar {
    background: url("../images/hrbar.png") no-repeat !important;
    background-size: 100% 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.talkbubbleLeft {
    position: relative;
    padding: 1px;
    background: #75bbd0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 15px;
    left: 5px;
}

.talkbubbleLeft:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #75bbd0;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 15px;
}

.talkbubbleRight {
    position: relative;
    padding: 1px;
    background: #75bbd0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 15px;
    left: 15px;
}

.talkbubbleRight:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0px 10px 20px;
    border-color: transparent #75bbd0;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 15px;

}

.talkbubble {
    /*transition: transform 0.8s cubic-bezier(0.59, 1.45, 0.69, 0.98) 0.2s;*/
    /*transform: rotateY(10deg);*/
    /*transform-origin: 0px 0px 0px;*/
    /*transform-style: preserve-3d;*/

    background: #75bbd0;
    padding: 1px;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: -10px;
    left: 25%;
    width: 0;
    height: 0;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    border-top: 6px solid transparent;
    border-right: 15px solid #75bbd0;
    border-bottom: 6px solid transparent;
}

.footer {
    z-index: 900;
    margin-top: -300px;
    min-height: 528px;
    bottom: 0;
    height: auto;
    background: url("../images/footer.png") no-repeat;
    background-size: 100% 100%;
}

/*new*/
.homeBold {
    font-weight: 700;
    font-size: 25px;
}

.page-title {
    font-size: 30px;
    font-weight: 900;
}

.fontWeight700 {
    font-weight: 700;
}

.blue-txt {
    color: #014e8d;
}

.white-txt {
    color: white;
}

.nav-header {
    margin-left: 5px;
}

.notIcon {
    width: 30px;
    height: 30px;
}

ul.headerUl {
    list-style-type: none !important;
    width: 100%;
}

.icon-chevron-down:hover {
    text-decoration: none !important;
}

ul li {
    list-style-type: none !important;
}

ul li:hover {
    list-style-type: none !important;
}

.userMenu li:hover {
    list-style-type: none !important;
}

.nav-user-photo {
    border-radius: 20px;
    height: 96px;
    width: 92px;
    max-height: 96px;
    max-width: 92px;
}

.userAcc {
    margin-top: 3%;
}
.zeropadding{
    padding-right: 0;
    padding-left: 0;
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.zeroLeftMargin {
    margin-left: 0 !important;
}

.userMenu {
    margin-top: 6%;
}

.paddingBottom30 {
    padding-bottom: 30px;
}

.imgBgColor {
    background-color: #e89f00;
}

.imgSize {
    height: 90px;
    width: 86px;
    max-height: 90px;
    max-width: 86px;
}

.dashboardImgSize {
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
}

.examPaper {
    background: url("../images/examPaper.png") no-repeat;
    background-size: 100% 100%;
    min-height: 550px;
    z-index: 1050;
}

.examHead {
    margin-top: 60px;
    height: 60px;
    background: url("../images/examPaperHead.png") no-repeat;
    background-size: 100% 100%;
}

.examHeader {
    height: 110px;
    background: url("../images/examHeader.png") no-repeat;
    background-size: 100% 100%;
}

.examEnd {
    height: 92px;
    background: url("../images/examPaperEnd.png") no-repeat;
    background-size: 100% 100%;
}

.questionsContainer {
    margin-top: 15px;
    min-height: 150px;
}

.qusTitleContainer {
    color: #ffffff;
    font-size: 22px;
    margin-left: -51px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.qusTitle {
    height: 48px;
    margin-top: 6px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginTopBottom10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.questionTxt {
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: thin #aca989;
    min-height: 80px;
    max-height: 280px;
    overflow: auto;
    max-width: 800px;
}

.spanText {
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.qNum {
    line-height: 50px;
    height: 60px;
    font-size: 30px;
}

.violet {
    border: double #69319b;
    border-radius: 10px;
}

.violet .qNumColored {

    /*background-color: #643896;*/
    background: url("../images/bnafsegy.png") no-repeat;
    background-size: 100% 100%;
}

/*no*/

.violet .qusTitle {
    background-color: #9c65c9;
}

.violet .questionColored {
    background-color: #dbd2e5;
}

.violet .questionTxt {
    background-color: #dad5a9;
    background: url("../images/questionBGImg.png") no-repeat;
    background-size: 100% 100%;
}

.qusImgBordered {
    border-radius: 5px;
    border: 2px solid #69319b;
}

.qusImg {
    height: 159px;
}

.orange {
    border: double #ff690a;
    border-radius: 10px;
}

.orange .qNum {
    /*background-color: #c65710;*/
    background: url("../images/orange.png") no-repeat;
    background-size: 100% 100%;
}

.orange .qusTitle {
    background-color: #ff6b05;
}

.orange .questionColored {
    background-color: #fddecb;
}

.orange .questionTxt {
    background-color: #dad5a9;
    background: url("../images/questionBGImg.png") no-repeat;
    background-size: 100% 100%;
}

.green {
    border: double #78bd0e;
    border-radius: 10px;
}

.green .qNum {
    /*background-color: #51880d;*/
    background: url("../images/green.png") no-repeat;
    background-size: 100% 100%;
}

.green .qusTitle {
    background-color: #71b80c;
}

.green .questionColored {
    background-color: #cee4b1;
}

.green .questionTxt {
    background-color: #dad5a9;
    background: url("../images/questionBGImg.png") no-repeat;
    background-size: 100% 100%;
}

.badge {
    background-color: #014e8d;
}
.badge-nearpink{
    background-color:#c84747;
}
.notfication:hover {
    text-decoration: none;
}

.notfication:focus {
    text-decoration: none;
}

.logo-footer {
    margin-top: 400px;
}

.info-footer {
    margin-top: 350px;
}

/*start Mail page*/

.inbox-box{
    background:white;
    min-height:947px;
    max-height:947px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.inbox-sidebar{
    background: #f96721;
    min-height:947px;
}

.pic-mail{
    background:#468bfc;
    min-height: 232px;
}

.studentpic{
    width: 100px;
    height: 100px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left:10px;
}

.namein-mail{
    color:#fe562b;
    font-size: 20px;
    font-weight: bold;
}

.compose{
    margin-top:50px;
    /*width:auto;*/
}

.inbox-bg{
    margin-left: -10px;
    width: 240px;
    background: url("../images/inbox-bg.png") no-repeat;
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    min-height: 50px;
    vertical-align: 50px;
}

.normalbtn-inmail{
    margin-left: -10px;
    width: 240px;
    background: url("../images/mailorange-bg.png");
    background-size: 100% 100%;
    color: white;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    min-height: 50px;
    vertical-align: 50px;
}

.num-bg{
    background: url("../images/num-bg.png");
    background-size: 100% 100%;
}

.num-bg-dark{
    background: url("../images/num-bg-dark.png") no-repeat;
    background-size: 100% 100%;
}

.zeropadding{
    padding-right: 0;
    padding-left: 0;
}

.topredbar{
    height: 120px;
    background: #c03716 !important;
}

.border-right{
    border-right: 1px solid #f96721;
}

span.topredbar{
    background: black;
}

.under-icon{
    text-align: center;
}
.mailIconsContainer{
    width: 100px;
}
.mailIconDiv{
    height: 80px;
}
.mailContentDiv{
    margin-top: 15px;
}
.mail{
    margin-left: -15px;
}
.mails-box{
    overflow-y: auto;
    max-height: 796px;
}

.mailBorder{
    margin-left: 30px;
    width: 635px;
    margin-top: 2px;
    margin-right: 10px;
    height: 10px;
    background: url("../images/mailBorder.png") no-repeat;
    background-size: 100% 100%;
}
.mailInfo{
    margin-top: 5px;
    background: url("../images/mailInfo.png") no-repeat;
    background-size: 100% 100%;
}
.mailOwnerPic{
    border: 5px #458afb solid;
    border-radius: 50px;
}
.mailDateSpan{
    margin-right: 20px;
}
.message{
    border-top: solid #000000 thin ;
}
/*end Mail page*/


/*start mails page*/
#search input[type="text"] {
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    margin-top:70px;
    margin-left:10px;
}

#search input[type="text"]:focus {
    width: 175px;
}
.noBorder{
    border: none;
}
.sideBarBtn{
    margin-top: 10px;
}
a:hover{
    text-decoration: none !important;
}
a:focus{
    text-decoration: none !important;
}
.marginTopBottom25{
    margin-top: 25px;
    margin-bottom: 25px;
}
/*end mails page*/

/*start assignment page*/

.assignmentPaper {
    background: url("../images/assPaper.png") no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
}

.textArea {
    background: url("../images/TextAreabg.png") no-repeat;
    background-size: 100% 100%;
    max-height: 100px;
    height: 100px;
    margin-top: 100px;
}

.timer {
    height: 100%;
}
.timer span{
    display: inline-block;
    margin-top: 12%;
}
.examInfo {
    text-align: left;
}
.materialName {
    height: 100%;
    line-height: 30px;
    font-size: 28px;
    font-weight: 900;
}
.materialInfoContainer {
    border-left: 2px #ffffff solid;
}
.materialInfo {
    color: #bcb88c;
    font-size: 28px;
}
.teacherBG{
    border: 8px #6bcbca solid;
    margin-right: 30px;
}

.teacherImg{
    width: 85px !important;
    height: 85px;
    max-width: 85px;
    max-height: 85px;
    border-radius: 50px !important;
}
.teacherNameDiv{
    height: 100%;
    font-size: 22px;
}
.teacherNameDiv span{
    display: inline-block;
    margin-top: 70%;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#examHeader.affix {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 826px;
    height: 110px;
}
/*Events*/
.buttonInfo{
    background:url("../images/arowwButtonBlue.png") no-repeat;
    background-size: 100% 100%;
    border: 0;
    width: auto;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.arrowButtonBlue{
    background:url("../images/arowwButtonBlue.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.arrowButtonBlueActive{
    background:url("../images/arowwButtonBlueActive.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.buttonInfoActive{
    background:url("../images/arowwButtonBlueActive.png") no-repeat;
    background-size: 100% 100%;
    border: 0;
    width: auto;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.green-txt {
    color: green;
    font-size: 38px;
}